@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --primary: #b4b5b5;
  --secondary: #727272;

  --accent: #0d6efd;

  --bg-primary: #131618;
  --bg-secondary: #212529;
  --bg-third: #191c1f;
}

*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--bg-primary);
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;

  overflow-x: hidden;
}

h1,
a,
p,
li {
  color: var(--primary);
  text-decoration: none;
}
